#**Question: 21**

In [26]:
class Point:
  def __init__(self, x=0, y=0):
    self.x = x
    self.y = y

class Segment:
  def __init__(self, p1, p2):
    self.p1 = p1
    self.p2 = p2

  def Length(self):
    return ((self.p2.x - self.p1.x)**2 + (self.p2.y - self.p1.y)**2)**0.5

  def Slope(self):
    return "undefined" if self.p2.x - self.p1.x == 0 else (self.p2.y - self.p1.y) / (self.p2.x - self.p1.x)

In [27]:
p1 = Point(4, 3)

In [28]:
p2 = Point()

In [29]:
segment = Segment(p1, p2)

In [30]:
segment.Length()

5.0

In [31]:
segment.Slope()

0.75

#**Question 22**

In [48]:
import sqlite3

In [68]:
conn = sqlite3.connect('weatherDB.db')

In [69]:
cur = conn.cursor()

In [51]:
cur.execute('''
    CREATE TABLE Weather (
        id INT PRIMARY KEY,
        recordDate DATE,
        temperature INT
    )
''')

In [52]:
cur.executemany('''
    INSERT INTO Weather (id, recordDate, temperature)
    VALUES (?, ?, ?)
''', [
    (1, '2015-01-01', 10),
    (2, '2015-01-02', 25),
    (3, '2015-01-03', 20),
    (4, '2015-01-04', 30)
])

In [53]:
conn.commit()

In [71]:
cur.execute('''
  SELECT wT1.id
  FROM Weather wT1
  JOIN Weather wT2
  ON wT1.recordDate = DATE(wT2.recordDate, '+1 day')
  WHERE wT1.temperature > wT2.temperature
''')

In [72]:
results = cur.fetchall()

In [73]:
conn.close()

In [74]:
for row in results:
    print(row[0])

2
4

#**Question 23**

In [91]:
def tough(indentation, pattern):
  if pattern == 0:
    return None
  else:
    tough(indentation, pattern // 2)
    print(' ' * indentation + '*' * pattern)
    tough(indentation + pattern // 2, pattern // 2)

In [92]:
tough(0, 0)

In [93]:
tough(0, 1)

*

In [94]:
tough(0, 2)

*
**
 *

In [95]:
tough(0, 4)

*
**
 *
****
  *
  **
   *